<nav class="navbar navbar-expand-lg bg-gradient bg-secondary p-3 mb-3 shadow">
    <ul class="list-inline d-inline-flex m-auto">
        <li class="me-4">
            <a class="nav-link-custom" routerLink="" routerLinkActive="active-link">
                <i class="fas fa-list me-2"></i>Liste des Posts
            </a>
        </li>
        <li class="me-4">
            <a class="nav-link-custom" routerLink="post-add" routerLinkActive="active-link">
                <i class="fas fa-plus me-2"></i>Créer un Post
            </a>
        </li>
    </ul>
</nav>
