<form formgroup class="w-75">
    <div class="d-flex flex-column m-auto p-2">
        <label class="form-label">Title:</label>
        <input class="form-control border-2 mb-3" type="text" formControlName='title' />
    </div>
    <div class="m-auto">
        <label class="form-label p-2">Author:</label>
        <input class="form-control border-2 mb-3" />
    </div>
    <div class="m-auto">
        <label class="form-label p-2">Content:</label>
        <input class="form-control border-2 mb-3" />
    </div>
    <button class="btn btn-primary mt-3 mb-3">Update Post</button>
</form>